.CreateQuote_Wrapper {

    .Header {
        padding: 1.2rem 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: orangered;
        color: white;
        h2 {
        
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
        }
        .LogOut {
            button {
                cursor: pointer;

            }
        }
        
    }
    

    .Quote_text {
        height: 16px;
        width: 180px;
    
    }
   
}